.container {
    margin-top: 20px;
}

.illustrasi img {
    margin-top: -300px;
    margin-left: 100px;
}

ul li {
    margin-top: 24px;
}

ul li a {
    color: #77007F
}

.tagline {
    margin-top: -50px;
}

.tagline button {
    margin-top: 10px;
    border-radius: 24px;
    width: 32%;
}

.tagline h1 {
    margin-top: 100px;
    color: #485460
}

.tagline p {
    color: #808080
}